
.cardimg {
    object-fit: contain !important;
}
.text-center {
    text-align: center;
}
@import "./ShowOffCards.scss";

.s3-body {
    font-family: 'Roboto', 'sans-serif' !important;
    text-align: center !important;
    color: #121212 !important;
    margin: 0 !important;
}


.main {
    max-width: 1600px !important;
    margin: auto !important;
    float: none !important;
    width: 95% !important;
    min-height: 100% !important;
}

.logos {
    margin: auto !important;
    display: block !important;
    max-width: 70% !important;
    max-height: 15rem !important;
}

.aspect-ratio {
    position: relative !important;
    width: 100% !important;
    height: 0 !important;
    padding-bottom: 51% !important;
}

.cssanimation,
.cssanimation span {
    animation-duration: 1s !important;
    animation-fill-mode: both !important;
}


.fadeInBottom {
    animation-name: fadeInBottom !important;
}

@keyframes fadeInBottom {
    from {
        opacity: 0 !important;
        transform: translateY(100%) !important;
    }
    to {
        opacity: 1 !important;
    }
}

mark {
    background-color: #121212 !important;
    padding: 3px !important;
    color: white !important;
}

.marki {
    background-color: rgba(0, 0, 0, 0) !important;
    background-size: 100% 100% !important;
    background-position: 0% 0% !important;
    padding-left: 3px !important;
    padding-right: 3px !important;
}

.scaleimg {
    transition: all 0.5s ease !important;
    z-index: 99999999999 !important;
}

.scaleimg:hover {
    -webkit-transform: rotate(3deg) scale(1.2) !important;
    transform: rotate(3deg) scale(1.2) !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1) !important;
}

.scaleimgl {
    transition: all 0.5s ease !important;
}

.scaleimgl:hover {
    -webkit-transform: rotate(-3deg) scale(1.2) !important;
    transform: rotate(-3deg) scale(1.2) !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1) !important;
}

.box {
    width: 100% !important;
    max-width: 100% !important;
    display: inline-block !important;
    margin-bottom: 50px !important;
}

.head {
    display: flex !important;
    justify-content: center !important;
    align-content: center !important;
    flex-direction: column !important;
    background-image: url(../img/background.webp);
    background-size: cover !important;
    background-position: 50% 65% !important;
    color: white !important;
    text-align: center !important;
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    width: 100% !important;
    min-height: 350px !important;
    margin: auto !important;
}

.homepagebutton {
    color: #121212 !important;
    background: #FFF !important;
    padding: 10px 10px !important;
    min-width: 15rem !important;
    height: 50px !important;
    border: 3px solid #121212 !important;
    font-size: 16px !important;
    letter-spacing: 1px !important;
    text-transform: uppercase !important;
    text-align: center !important;
    cursor: pointer !important;
    box-shadow: inset 0 0 0 0 #242424 !important;
    -webkit-transition: all ease 0.5s !important;
    -moz-transition: all ease 0.5s !important;
    transition: all ease 0.5s !important;
}

.homepagebutton:hover {
    border: 3px solid #121212 !important;
    color: #fff !important;
    background-color: #121212 !important;
    font-size: 20px !important;
    font-weight: bold !important;
}

.copyright {
    background-color: #121212 !important;
    width: 100% !important;
    position: absolute !important;
    left: 0 !important;
    color: white !important;
}

.socials {
    color: white !important;
    font-size: 36px !important;
    display: inline-block !important;
    margin: 5px !important;
}

.scaletext * {
    color: white !important;
    transition: all ease .5s !important;
}

.scaletext *:hover {
    background-image: linear-gradient(90deg, rgb(169, 64, 255), #0084ff) !important;
    transition: all ease .5s !important;
    -webkit-background-clip: text !important;
    background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.copyright * {
    color: white !important;
}


.headimg {
    width: 32px !important;
}

.navbar li a:hover {
    background-color: #242424 !important;
}

a:link {
    color: #121212;
}

a:visited {
    color: #323232 !important;
}
@media (max-width: 600px) {
    .logos {
        max-width: 80% !important;
    }
    .textarearight, .textarealeft{
        text-align: revert !important;
    }
    .discordboxiframe {
        order: 1 !important;
    }
    .discordtext {
        order: 2 !important;
    }
}

.s3-cardtop {
    height: 150px !important;
    width: 100% !important;
    color: white !important;
    font-size: 72px !important;
    background-image: linear-gradient(90deg, rgb(169, 64, 255) 0%, #0084ff 100%) !important;
}
.s3-cardtop-icon {
    vertical-align: middle !important;
    height:100% !important;
}
@keyframes fadeIn {
    0% {
      opacity: 0 !important;
    }
    100% {
      opacity: 1 !important;
    }
}
  
.carouselSlideIn {
    opacity: 1 !important;
    animation: fadeIn 0.5s linear !important;
}
@keyframes fadeOut {
    0% {
      opacity: 1 !important;
    }
    100% {
      opacity: 0 !important;
    }
}
  
.carouselSlideOut {
    opacity: 1 !important;
    animation: fadeOut 0.5s linear !important;
}
.item-enter {
    opacity: 0 !important;
}
.item-enter-active {
    opacity: 1 !important;
    transition: opacity 500ms ease-in !important;
  }
  .item-exit {
    opacity: 1 !important;
  }
  .item-exit-active {
    opacity: 0 !important;
    transition: opacity 500ms ease-in !important;
  }
  html {
    scroll-behavior: smooth;
}

/* Earth Page Styles */
html {
    scroll-behavior: smooth;
}

.earth-body {
    background: #080808;
    color: white !important;
    font-family: "Roboto", "sans-serif";
}

.earth-header {
    background-image: url("../img/Stars_1K.webp");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    animation: slide 40s linear infinite;
    height: 100vh;
    color: white;
    margin: 0;
    padding: 5px;
}

.earth-headertext {
    text-align: center;
    padding: 10px;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.earth-headertext h1 {
    font-size: 6vh;
}

.earth-headertext p, i {
    font-size: 3vh;
}

.earth-br {
    flex-basis: 100%;
    height: 0;
    margin-bottom: 15px;
}

.earth-hr {
    flex-basis: 100%;
    height: 2px;
    background-color: #242424;
    margin-bottom: 15px;
    margin-top: 15px;
}

.earth-flex {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 70%;
    border-color: #ffffff;
    border-width: 5px;
    border-radius: 15px;
}

.earth-flex img {
    border-radius: 15px;
}

.earth-flex1 {
    width: 33%;
    text-align: top;
}

.earth-flex2 {
    width: 62%;
    margin: 2%;
}

.earth-flex3 {
    width: 100%;
    text-align: center;
}

.earth-flex2right {
    width: 62%;
    margin: 2%;
    text-align: right;
}

.earth-card {
    border-radius: 15px;
    width: 31.33333%;
    margin: 1%;
    text-align: center;
    background-color: #121212;
}

.earth-card p {
    padding: 20px;
}

.earth-cardhead {
    background: linear-gradient(75deg, rgba(207, 66, 237, 1) 0%, rgba(0, 131, 251, 1) 100%);
    height: 150px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}

.earth-textleft {
    text-align: left;
}

.earth-roundbtn {
    opacity: 0;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    background-color: #363636;
    color: white;
    cursor: pointer;
    border-radius: 32px;
    border: none;
    width: 64px;
    height: 64px;
    transition: all 0.5s;
}

.earth-roundbtn:hover {
    background-color: #484848;
}

.earth-join {
    margin-top: 50px;
    padding-bottom: 70px;
}

.earth-slideimg {
    height: 300vh;
    width: 100vw;
    text-align: center;
}

.earth-socials {
    font-size: 18px;
    background-color: #484848;
    color: #121212;
    cursor: pointer;
    border-radius: 32px;
    border: none;
    width: 48px;
    height: 48px;
    transition: all 0.5s;
    margin: 5px;
    margin-top: 10px;
}

.earth-socials:hover {
    background-color: white;
}

.earth-btn {
    background-color: white;
    border: none;
    color: black;
    outline: none;
    padding: 12px 40px 10px;
    position: relative;
    font-family: "Roboto", "sans-serif";
    font-size: large;
    cursor: pointer;
}

.earth-btn a {
    color: black;
    font-family: "Roboto", "sans-serif";
    font-size: large;
    font-weight: bold;
}

.earth-btn:before, .earth-btn:after {
    border: 0 solid transparent;
    transition: all 1s;
    content: '';
    height: 0;
    border-radius: 4px;
    position: absolute;
    width: 20%;
}

.earth-btn:before {
    border-top: .5vh solid white;
    right: 0;
    top: -1vh;
}

.earth-btn:after {
    border-bottom: .5vh solid white;
    bottom: -1vh;
    left: 0;
}

.earth-btn:hover:before, .earth-btn:hover:after {
    width: 80%;
}

/*canvas {
    margin: 15px;
    position: sticky;
    height: auto;
    margin: auto;
    display: inline;
    max-height: 100vh;
}*/

.earth-a {
    color: white !important;
    text-decoration: none;
}
.earth-a:link {
    color: white !important;
    text-decoration: none;
}
.earth-a:visited {
    color: white !important;
    text-decoration: none;
}

.earth-floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 15px);
    }
    100% {
        transform: translate(0, -0px);
    }
}

@keyframes slide {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -1920px 0;
    }
}